<head>
    <title>Login</title>
    
</head>
    <style>
    h1 {text-align: center;}
    label {text-align: center;}
    div {text-align: center; }
    </style>
    <title>Sign up</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body style="background-image: url('https://img.freepik.com/free-vector/gradient-minimalist-background_23-2150012317.jpg?w=2000&t=st=1684305571~exp=1684306171~hmac=1f7d6bb733a8d8aff1381d79cfc53ac7fbc0c1c29ee79a16418b93f8372281bc');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;">

<h1> You've approved this booking request</h1>
</body>
