<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h1>Welcome to MakersBnB</h1>

        <% @listings.each do |listing| %>
        <%= listing.title %>
        <%= listing.description %>
        <%= listing.location %>
        <%= listing.price %>
        <% end %>

        <p>Penthouse Suite - North Hills</p>
        <p>Location: Hollywood Hills</p>
        <p> £500/night </p>
        <a href='/listing/1'> See More </a>
        <img src='https://robbreport.com/wp-content/uploads/2019/03/002-crop.jpg?w=1000' alt='Nicolas Cage'>
    </body>
</html>

<!--

-->
