<html>
    <head>
    </head>

    <body>
        <h1>Listing Name</h1>
        <p>Location, Description, Price </p>

        <form action="/booking" method="POST">
        <label>name</label>
        <input type="text" name="name">
        <label>comment</label>
        <input type="text" name="additional information">
        <label>date</label>
        <input type="text" name="date">
        </form>
        </p>

        <a href="/">back to homepage</a>

    </body>
</html>