<!DOCTYPE html>
<html>
    <head>
        <title>New Listing</title>
        
    </head>
    <body>	
      <form action="/new_listing" method="POST">
        <h1>Create a new listing</h1>  

            <div>
            <label>Title </label>
            <input type="text" name="title">
            </div>

            <div>
            <label>Description </label>
            <input type="text" name="description">
            </div>

            <div>
            <label>Image hyperlink </label>
            <input type="text" name="img">
            </div>

            <div>
            <label>Price/night </label>
            <input type="number" name="price">
            </div>

             <div>
            <label>Location </label>
            <input type="text" name="location">
            </div>

            <div>
            <label>User_id </label>
            <input type="number" name="user_id">
            </div>

            <div>
            <input type="submit" value="Submit the form">
            </div>

        </form>
    </body>
</html>
