<head>
    <title>Listing Confirmed</title>
</head>

<body>
    <h1>Listing confirmed: <%= @listing_title %></h1> <br>
    <img src='<%= @listing_img %>'
        alt='New listing picture' width="250"> <br><br><br>
    <a href='/'> <button type="button">Return to Homepage</button></a>
</body>
