<html>
    <head>
    <title>Listing Confirmed</title>
    </head>
    <body>
    <h1>Listing confirmed: London Mansion</h1> <br>
    <img src='https://img.gtsstatic.net/reno/imagereader.aspx?imageurl=https%3A%2F%2Fapi-prod.corelogic.com%2Ftrestle%2FMedia%2FCRMLS%2FProperty%2FPHOTO-jpeg%2F1013309050%2F1%2FMTU3Mi8yMjU2LzE5%2FMTkvODYyMy8xNjY2MzU5MzMy%2F_6mUwpQWQj53sOa1IBCE020pr-hhR0aS3syDBif_gPc%3Fdate%3D2023-02-15&option=N&h=472&permitphotoenlargement=false'
     alt='New listing picture' width="250"> <br><br><br>
    <a href='/'> <button type="button">Return to Homepage</button></a>
    </body>
</html>