<head>
    <style>
    h1 {text-align: center;}
    label {text-align: center;}
    div {text-align: center; }
    </style>
    <title>Sign up</title>
    <link rel="stylesheet" href="signup.css">
</head>

<body style="background-image: url('https://img.freepik.com/free-vector/gradient-minimalist-background_23-2150012317.jpg?w=2000&t=st=1684305571~exp=1684306171~hmac=1f7d6bb733a8d8aff1381d79cfc53ac7fbc0c1c29ee79a16418b93f8372281bc');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;">
    <form action="/signup" method="POST">
    <div>


    <h1>Sign Up with MakersBnB</h1>
    <label>Name </label>
    <input type="text" name="name"><br /><br />
    <label>Username </label>
    <input type="text" name="username"><br /><br />
    <label>Email </label>
    <input type="text" name="email"><br /><br />
    <label>Password </label>
    <input type="password" name="password"><br /><br />

    <% if flash[:error] %>
            <%= flash[:error] %>
        <% end %><br><br>
    <input type="submit" value="Submit the form">
    </div>
    </form>
</body>
